/*
*Contents
*
*Top nav style
==============
  - 1, the border-bottom will be disapperars, when the buttons are next each
other
  - 2, the color of buttons will be change, when you draw there the cursor

*Header style
=============
  - 3, the Header is a flex-box container, in this way to place center the text
easier

*"Ask" section style
====================
  - 4, on this button the color of text change, when you draw there the cursor,
this is true the buttons of in the main box and send section too

*Main style
===========
  - 5, the place of boxes compared to html are reverse in the main container
  - 6, the boxes will be next each other over 600px width

*"Send" section style
=====================
  - 7, the text of label is in the input field until the user clicks on  it
  - 8, the text in the input field moves away and becomes smaller when it is
in focus

*Footer style
=============
  - 9, the elements in the footer componenet are wrapped with two, it's way
they are this way under each other on a screen smaller than 600px
*/


/* =========================
   TOP NAV STYLES
   ========================= */

.nav {
  background-color:     var(--primary-color);
  text-align:           center;
}


.nav__btn {
  font-family:          'Lora', serif;
  font-size:            1rem;
  line-height:          3rem;
  height:               3rem;
  border-bottom:        .7px dashed var(--btn-text-color);
}


@media (min-width: 600px) {
  .nav__btn {
    border-bottom:      none; /* 1, */
  }
}


.nav__btn-text {
  text-decoration:      none;
  text-shadow:          1px 1px 1px var(--font-color);
  color:                var(--btn-text-color);
  padding:              0 3rem;
  letter-spacing:       .7px;
}


.nav__btn:hover {
  background-color:     rgba(255,255,255,.2);
  transition:           background-color .3s easi-in-out; /* 2, */
}




/*==========================
  HEADER STYLES
  ========================== */

.header {
  background:           url(../pic/landing-page-pic.jpg) no-repeat
    center / cover;
  height:               75vh;
  display:              flex;  /* 3, */
  justify-content:      center;
  align-items:          center;
  text-align:           center;
}


.header__text {
  background-color:     var(--primary-color);
  font-size:            1.25rem;
  text-shadow:          1px 1px 1px var(--font-color);
  border-radius:        3%;
  padding:              3rem;
  color:                var(--btn-text-color);
}




/*=========================
  "ASK" SECTION STYLE
  ========================= */


.ask {
  display:              flex;
  flex-direction:       column;
  align-items:          center;
  padding:              3rem;
}


.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom:        3rem;
}


.wrapper__icon{
  padding: 0 3rem;
}

.ask__why {
  line-height:          1.5rem;
  font-size:            1rem;
}


.ask__button {
  text-decoration:      none;
  font-size:            1.25rem;
  padding:              .75rem;
  margin-top:           2rem;
  background-color:     var(--primary-color);
  border:               .7px dashed var(--btn-text-color);
  color:                var(--btn-text-color);
}


.ask__button:hover {
  color:                var(--font-color);
  transition:           color .3s easi-in-out; /* 4, */
}




/*==========================
  MAIN STYLE
  ========================== */

.main {
  display:               flex;
  flex-direction:        column-reverse; /* 5, */
  align-items:           center;
}

.main__box {
  width:                 100vw;
  padding:               2rem;
}


@media (min-width: 600px) {
  .main {
    flex-direction:      row-reverse; /* 6, */
  }
  .main__box {
    width:               50vw;
  }
}


h2 {
  font-family:           'Lora', serif;
  font-size:             1.25rem;
  text-shadow:           .8px .8px .8px var(--font-color);
  color:                 var(--secondary-color);
  padding:               1rem 0;
}


.main__box-text {
  font-size:             .8rem;
  margin-bottom:         2rem;
}


.main__box-btn {
  text-decoration:       none;
  padding:               .5rem;
  background-color:      var(--primary-color);
  border:                .7px dashed var(--btn-text-color);
  color:                 var(--btn-text-color);
}


.main__box-btn:hover {
   color:                var(--font-color);
  transition:            color .3s easi-in-out; /* 4, */
}




/* =========================
   SEND SECTION
   ========================= */

.send {
  display:               flex;
  flex-direction:        column;
  padding:               2rem;
}

.send__text {
  line-height:           1.3rem;
}


imput, label {
  font-size:             16px;
}


input {
  width:                 200px;
  height:                30px;
  margin:                25px 0 0 0;
  border:                .7px dashed var(--btn-text-color);
}


label {
  display:               inline-block;
  position:              relative;
  left:                  -200px; /* 7, */
  cursor:                text;
  transform-origin:      left bottom;
  transition-duration:   .5s;
}


input:focus {
  outline:               0;
}


input:focus + label, input:valid+label {
  transform:             translate(0, -25px) scale(0.8); /* 8, */
}

.send__btn {
  text-align:            center;
  max-width:             120px;
  margin-top:            25px;
  padding:               .5rem;
  background-color:      var(--primary-color);
  border:                .7px dashed var(--btn-text-color);
  color:                 var(--btn-text-color);
}


.send__btn:hover {
  color:                 var(--font-color);
  transition:            color .3s easi-in-out; /* 4, */
}


/* ==========================
   FOOTER STYLE
   ========================== */


.footer {
  background-color:      var(--primary-color);
  display:               flex;
  flex-direction:        column;
  justify-content:       center;
}


.footer__item {
  padding:               10px;
  text-align:            center;
}


.footer__item-link {
  text-decoration:       none;
  font-family:           'Lora', serif;
  font-size:             .7rem;
  color:                 var(--btn-text-color);
  padding:               0 15px;
}


@media (min-width: 600px) {
  .footer {
    flex-direction:      row; /* 9, */
  }
}