/*
*Contents
*Top nav style
*Header style
*"Ask" section style
*Main style
*
*
*/


/* =========================
   TOP NAV STYLES
   ========================= */

.nav {
  background-color:     var(--primary-color);
  text-align:           center;
}


.nav__btn {
  font-family:          'Lora', serif;
  font-size:            1rem;
  line-height:          3rem;
  height:               3rem;
  border-bottom:        .7px dashed var(--btn-text-color);
}


@media (min-width: 600px) {
  .nav__btn {
    border-bottom:      none;
  }
}


.nav__btn-text {
  text-decoration:      none;
  text-shadow:          1px 1px 1px var(--font-color);
  color:                var(--btn-text-color);
  padding:              0 3rem;
  letter-spacing:       .7px;
}


.nav__btn:hover {
  background-color:     rgba(255,255,255,.2);
  transition:           background-color .3s easi-in-out;
}




/*==========================
  HEADER STYLES
  ========================== */

.header {
  background:           url(../pic/landing-page-pic.jpg) no-repeat center / cover;
  height:               75vh;
  display:              flex;
  justify-content:      center;
  align-items:          center;
  text-align:           center;
}


.header__text {
  background-color:     var(--primary-color);
  font-size:            1.25rem;
  text-shadow:          1px 1px 1px var(--font-color);
  border-radius:        3%;
  padding:              3rem;
  color:                var(--btn-text-color);
}




/*=========================
  "ASK" SECTION STYLE
  ========================= */


.ask {
  display:              flex;
  flex-direction:       column;
  align-items:          flex-start;
  padding:              3rem;
}


.ask__why {
  line-height:          1.5rem;
  font-size:            1.25rem;
}


.ask__button {
  text-decoration:      none;
  font-size:            1.5rem;
  padding:              1rem;
  margin-top:           1rem;
  background-color:     var(--primary-color);
  border:               .7px dashed var(--btn-text-color);
  color:                var(--btn-text-color);
}


.ask__button:hover {
  color:                var(--font-color);
  transition:           color .3s easi-in-out;
}




/*==========================
  MAIN STYLE
  ========================== */

.main {
  display:               flex;
  flex-direction:        column;
  align-items:           center;
}

.main__box {
  width:                 100vw;
  padding:               3rem;
}


@media (min-width: 600px) {
  .main {
    flex-direction:      row;
  }
  .main__box {
    width:               50vw;
  }
}


h2 {
  font-family:           'Lora', serif;
  font-size:             1.25rem;
  text-shadow:           .8px .8px .8px var(--font-color);
  color:                 var(--secondary-color);
  padding:               1rem 0;
}


.main__box-text {
  font-size:             .8rem;
  margin-bottom:         2rem;
}


.main__box-btn {
  text-decoration:       none;
  padding:               .5rem;
  background-color:      var(--primary-color);
  border:                .7px dashed var(--btn-text-color);
  color:                 var(--btn-text-color);
}